


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  height: 80px;
  cursor: pointer;
 
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  text-decoration: none;
  color: green;
}
.signup{
   text-decoration: none;
}
.button{
   border: none;
}
.logo img {
  width: 50px;
  height: 50px;
}
.button button{
    background-color: chartreuse;
    height: 40px;
    width: 70px;
    border-radius: 6px;
    border: none;
}
.hero{
 
   height: 700px;
   width: 100%;
   display: flex;
   padding: 40px;
   gap: 250px;
   justify-content: space space-around;
   padding-left: 500px;
   margin-top: 100px;
}

.green {
  color: green;
}
.hero textarea,
button{
  background-color: rgb(33, 204, 33);
  width: 90px;
  height: 40px;
  border-radius: 5px;

 
}
